.GameFullPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  align-items: center;
}

.HoldsTwoPanels {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 10;
}

.HalfPanel {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.RightPanel {
}

.LeftPanel {
  flex-direction: column;
}

.HigherLowerButton {
  width: 75%;
  text-align: center;
}

.TextBox, .RestartBox {
  border-color: black;
  border: solid;
  text-align: center;
  margin: 1rem;
}

.TextBox {
  width: 75%;
  flex: 10;
}

.TextBox h2 {
  margin: 0.5rem;
}

.RestartBox {
  flex: 1;
  cursor: pointer;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.Bar {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: center;
  align-items: center;
}
